.sectionSignUp {
  //   height: 100vh;
  margin: 10rem auto;
  text-align: center;
}

.lifetimeDealBox {
  background-color: #43b97f;
  color: white;
  // color: #e3e4e4;
  display: inline-block;
  padding: 5rem 5rem 10rem 5rem;
  width: 80%;
  border-radius: 1rem;
}

.EmailInput {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.giftBoxImage {
  height: 7rem;
  margin-bottom: 2rem;
  width: auto;
}

.signUpHeading {
  padding: 0 1rem;
  font-size: 4rem;
  //   padding: 0 20rem;
  text-align: center;
}

.secondaryHeading {
  text-align: center;
  font-size: 2rem;
  width: 80%;
  color: #e3e4e4;
  margin: 1rem auto 2rem auto;
}

.pricing {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  margin: 3rem auto 5rem auto;
}
